.loaderbg {
background-color:#fff;
width:100%;
height:100%;
overflow:hidden;
position:fixed;
left:0;
top:0;
z-index:9999999
}
.loading {
width:100px;
height:100px;
position:absolute;
left:50%;
margin-left:-50px;
top:50%;
margin-top:-50px;
background-image:linear-gradient(to top, #FF69B4 0%, #fbc2eb 100%);
border-radius:50%;
animation:load 2s linear infinite;
}
@keyframes load {
0% {
transform:rotate(0deg);
}
100% {
transform:rotate(360deg);
}
}
.loading::before {
content:'';
position:absolute;
width:90px;
height:90px;
background-color:#ffffff;
border-radius:50%;
margin-left:5px;
margin-top:5px;
}
.loading::after {
width:100px;
height:60px;
content:'';
position:absolute;
background-color:#ffffff;
}
.loadp {
font-size:18px;
position:absolute;
left:50%;
top:50%;
margin-left:-32px;
margin-top:-12px;
background-image:-webkit-linear-gradient(top, #FF69B4 0%, #fbc2eb 100%);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}