::selection {
background-color:black;
color:white;
}
::-moz-selection {
background-color:black;
color:white;
}
body{
cursor:url('../../images/default.cur'),default;
}
p{
cursor:url('../../images/text.cur'),text;
}
a{
cursor:url('../../images/pointer.cur'),pointer;
}
@font-face{
font-family:'kat';
src:url('../font/kat.woff2');
}
@font-face{
font-family:'sq';
src: url('../font/sq.woff2');
}
@font-face{
font-family:'dk';
src: url('../font/dk.woff2');
}
.ttf-kat{
font-family:kat;
}
.ttf-sq{
font-family:sq;
}
.ttf-dk{
font-family:dk;
}
.limit{
display:block;
overflow:hidden;
word-break:keep-all;
white-space:nowrap;
text-overflow:ellipsis;
}
#rin-bg{
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: -1;
position: fixed;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: 50% 50%;
background-color: white;
background-image: url('https://www.dmoe.cc/random.php');
}
/*
@media all and (orientation : portrait){
#rin-bg{
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: -1;
position: fixed;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: 50% 50%;
background-color: white;
background-image: url('../../pic/index.php?form=vertical');
}
}
*/
@keyframes shake{
0%{transform:translate(0,0);}
20%{transform:translate(-8px,0);}
40%{transform:translate(0px,0);}
60%{transform:translate(8px,0);}
80%{transform:translate(0px,0);}
100%{transform:translate(0px,0);}
}